pydantic-settings==2.2.1
ccxt==4.2.53
pandas==2.2.0
numpy==1.26.4
yfinance==0.2.36
python-telegram-bot==20.8
Telethon==1.33.1
fastapi==0.109.2
uvicorn==0.27.1
aiohttp==3.9.3
httpx==0.26.0
streamlit
pandas
numpy
yfinance
plotly
requests
google-generativeai
fpdf2
textblob
streamlit-lottie
streamlit-option-menu
scipy